@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #100e1d;
}

h1 {
  display: inline;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  color: #e7e7eb;
  margin-bottom: 30px;
  font-size: 2.75rem;
}

h1::before {
  content: '';
  background: #0e9b8a;
  position: absolute;
  left: -3%;
  bottom: 12px;
  height: 8px;
  width: 106%;
  z-index: -1;
  border-radius: 35px;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #0e9b8a;
  color: #fff;
  background-color: #0e9b8a;
  font-weight: 600;
  transition: all 150ms ease-in-out;
  font-size: 0.9rem;
}

button:hover:not(:disabled) {
  cursor: pointer;
  border: 1px solid white;
}

button:disabled {
  cursor: not-allowed;
  background-color: #e7e7eb;
  border-color: #e7e7eb;
  color: #c2c3c7;
}

.table {
  background-color: #1e213a;
  width: 100%;
  max-width: 900px;
  gap: 10px;
  padding: 0 20px 20px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

th {
  color: #fff;
  background-color: #0e9b8a;
  text-transform: capitalize;
  font-weight: 600;
  padding: 2px;
}

td {
  color: #000;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  padding: 2px;
}

tr {
  background-color: #dceeea;
}

tr:nth-child(odd) {
  background-color: #f5f3f3;
}

.form {
  display: flex;
  background-color: #1e213a;
  width: 100%;
  max-width: 900px;
  gap: 10px;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

input,
select,
option {
  border-radius: 8px;
  padding: 4px;
  border: none;
  font-size: 1rem;
}
